hr{
  line-height: 2px;
  margin: 4px;
}
.btn-light{
  border: 1px solid black;
  background-color: white;
}
.btn-light:hover{
  border: none;
  background-color: black;
  color: white;
}.card-btn{
  border: 1px solid red;
  height: 60px;
  line-height: 50px;
}
.slide{
  color: white;
  height: 300px;
}
.item{
  width: 450px;
}
.badge{
  top: 0.5rem;
  right: 0.5rem;
}
  